/**
 * The wp-admin css for MyVideoRoom
 *
 * @package MyVideoRoomPlugin
 */

.myvideoroom-admin {
	margin-right: 15px;
}

.myvideoroom-admin main p {
	max-width: 704px;
}

.myvideoroom-admin img {
	max-width: 100%;
}

.myvideoroom-admin .notice {
	margin-right: 0;
}

.myvideoroom-admin .activation-key {
	max-width: 400px;
	min-width: 304px;
	width: 60%;
}

.myvideoroom-admin .button-primary i.dashicons {
	line-height: 1.4;
}

.myvideoroom-admin .button-primary.positive {
	background: #238823;
	border-color: #238823;
	color: #fff;
}

.myvideoroom-admin .button-primary.positive:hover {
	background: #007000;
	border-color: #007000;
}

.myvideoroom-admin .button-primary.negative {
	background: #D2222D;
	border-color: #D2222D;
	color: #fff;
}

.myvideoroom-admin .button-primary.negative:hover {
	background: #b32d2e;
	border-color: #b32d2e;
}

.myvideoroom-admin .nav-separate {
	background-color: #c5d9ed;
}

.myvideoroom-admin .plugins .row-actions em {
	color: #2c3338;
}

/*region Nav Tab */
.myvideoroom-admin .nav-tab-wrapper li {
	margin-bottom: -1px;
}

.myvideoroom-admin .nav-tab-wrapper a {
	color: #000000;
	text-decoration: none;
}

.myvideoroom-admin .nav-tab-wrapper a:hover {
	background: none;
}

@media screen and (min-width: 600px) {
	.myvideoroom-admin .nav-tab-wrapper {
		border-bottom: none;
		overflow-x: auto;
	}

	.myvideoroom-admin .nav-tab-wrapper:after {
		border-bottom: 1px solid #c3c4c7;
		clear: both;
		content: '';
		display: block;
		height: 0;
		left: 0;
		position: relative;
		right: 0;
		top: -17px;
		z-index: 1;
	}

	.myvideoroom-admin .nav-tab-wrapper ul {
		white-space: nowrap;
	}


	.myvideoroom-admin .nav-tab-wrapper li {
		border-bottom: 1px solid #c3c4c7;
		display: inline-block;
		position: relative;
		z-index: 2;
	}

	.myvideoroom-admin .nav-tab-wrapper li:after {
		border-bottom: 1px solid #c3c4c7;
		bottom: -1px;
		content: ' ';
		display: block;
		position: absolute;
		right: -5px;
		width: 5px;
	}
}

/*endregion*/

/*region Header */
.myvideoroom-admin header div.overview {
	display: inline-block;
	vertical-align: top;
}

.myvideoroom-admin header div.overview strong {
	font-size: 1.2em;
}

.myvideoroom-admin header div.overview em {
	display: block;
	font-size: 1.1em;
	margin-top: 8px;
}

.myvideoroom-admin header div.overview h1 {
	line-height: 1.2em;
}

.myvideoroom-admin header p.notice {
	margin: 8px 0 0 0;
	max-width: 500px;
	padding: 8px;
}

.myvideoroom-admin header img {
	display: none;
	max-width: 700px;
}

.myvideoroom-admin header:after {
	clear: both;
	content: "";
	display: block;
}

@media only screen and (min-width: 1034px) {
	.myvideoroom-admin header div.overview {
		min-width: 300px;
		padding-top: 72px;
		width: calc(100% - 293px);
	}

	.myvideoroom-admin header img {
		display: inline-block;
		float: right;
	}
}

/*endregion*/

/*region Room Templates*/
.myvideoroom-admin #myvideoroom-how-to-use-templates div.view {
	display: inline-block;
	max-width: 500px;
	width: calc(50% - 2px);
}

.myvideoroom-admin #myvideoroom-how-to-use-templates div.view img {
	width: 100%;
}

/*endregion*/


/*region Getting Started - Three Step Getting Started */
.myvideoroom-admin ol.getting-started-steps {
	counter-reset: item;
	display: block;
	margin: 16px 0;
	max-width: 800px;
	padding: 0;
}

.myvideoroom-admin ol.getting-started-steps:after {
	clear: both;
	content: "";
	display: block;
}

.myvideoroom-admin ol.getting-started-steps li {
	box-sizing: border-box;
	counter-increment: item;
	display: block;
	padding: 16px;
}

.myvideoroom-admin ol.getting-started-steps li:before {
	background: #327EAC;
	border-radius: 100%;
	color: white;
	content: counter(item);
	float: left;
	font-size: 40px;
	font-weight: bold;
	line-height: 72px;
	margin: 0 8px 8px 0;
	text-align: center;
	width: 72px;
}

.myvideoroom-admin ol.getting-started-steps li h4 {
	font-size: 24px;
	line-height: 1.1em;
	margin: 0;
	min-height: 80px;
	width: 100%;
}

@media only screen and (min-width: 600px) {
	.myvideoroom-admin ol.getting-started-steps li {
		float: left;
		width: 33%;
	}
}

/*endregion */

.myvideoroom-admin .reception-card,
.myvideoroom-admin .layout-card {
	box-sizing: content-box;
	display: inline-block;
	height: 238px;
	margin-right: 20px;
	text-align: center;
	width: calc(100% - 50px);
}

.myvideoroom-admin .reception-card h3,
.myvideoroom-admin .layout-card h3 {
	margin: 8px 0;
}

.myvideoroom-admin .reception-card img,
.myvideoroom-admin .layout-card img {
	border-radius: 4px;
	display: block;
	margin: 16px auto 0 auto;
	max-height: 128px;
	max-width: calc(80% - 16px);
}

@media only screen and (min-width: 690px) {
	.myvideoroom-admin .reception-card,
	.myvideoroom-admin .layout-card {
		width: calc(50% - 76px);
	}
}

@media only screen and (min-width: 1215px) {
	.myvideoroom-admin .reception-card,
	.myvideoroom-admin .layout-card {
		width: calc(33% - 73px);
	}
}

@media only screen and (min-width: 1800px) {
	.myvideoroom-admin .reception-card,
	.myvideoroom-admin .layout-card {
		width: calc(25% - 77px);
	}
}

.myvideoroom-admin table.widefat.myvideoroom-permissions {
	width: auto;
}

@media only screen and (min-width: 600px) {
	.myvideoroom-admin table.widefat.myvideoroom-permissions {
		min-width: 400px;
	}
}

.myvideoroom-api-reference dl p {
	max-width: none;
}

.myvideoroom-api-reference dt {
	font-weight: bold;
	margin: 0;
}

.myvideoroom-api-reference dt:after {
	content: ":";
}

.myvideoroom-api-reference dd {
	margin: 0 0 24px 16px;
	padding: 0;

}

.myvideoroom-api-reference code {
	display: block;
	overflow: scroll;
	padding: 8px;
	tab-size: 4;
	white-space: pre;
}

.myvideoroom-api-reference code.inline {
	display: inline-block;
	overflow: visible;
	padding: 0 4px;
}

.myvideoroom-reference ul {
	list-style: disc;
	margin: 16px;
}

.myvideoroom-reference dt,
.myvideoroom-reference dd {
	float: left
}

.myvideoroom-reference dt {
	clear: both;
	width: 60px;
	word-break: break-all;
}

.myvideoroom-reference dt:after {
	content: ': ';
}

.myvideoroom-reference dd:after {
	clear: both;
	content: '';
	display: block;
}

.myvideoroom-sitevideo-add-room-button {
	display: none;
}
