.myvideoroom-room-builder-settings .custom-permissions select {
	display: block;
	width: 100%;
}

.myvideoroom-room-builder-settings .custom-permissions strong {
	display: block;
	font-weight: normal;
	margin: 0 0 16px 0;
}
